@media (min-width:320px) and (max-width:575.98px) {
    section {
        padding: 65px 0;
    }
    .common-heading {
        font-size: 30px;
        margin-bottom: 50px;
    }
    /*Header Section Start*/
    .navbar-and-logo {
        width: 100%;
    }
    .logo img {
        margin-bottom: 0px;
    }
    .menu {
        padding-top: 1rem;
        padding-left: 2rem;
        padding-bottom: 1rem;
        background: #FEF7F6;
        position: absolute !important;
        top: 125%;
        left: 0;
        width: 100%;
        z-index: 999999;
    }
    .search-card-wishlist {
        width: 100%;
    }
    .search-cart-item {
        background: #FEF7F6;
    }
    .search-box {
        right: 0px;
        top: 25px;
    }
    /*Header Section End*/
    /*Banner Section Start*/
    .banner-content {
        padding-top: 40px;
        padding-bottom: 75px;
        margin: 0 auto;
    }
    .banner-content h1 {
        font-size: 32px;
        margin-bottom: 40px;
    }
    .banner-content p {
        font-size: 16px;
        margin-bottom: 8px;
        word-spacing: 4px;
        letter-spacing: 2px;
    }
    .shop-now-btn {
        padding: 14px 32px;
    }
    /*Banner Section End*/
    /*Feature Section Start*/
    .feature-text {
        margin-top: 15px;
    }
    /*Feature Section End*/
    /*Discount Section Start*/
    .discount-content {
        padding-top: 40px;
        padding-bottom: 65px;
    }
    .discount-content h1 {
        font-size: 48px;
    }
    .discount-content p {
        font-size: 16px;
    }
    /*Discount Section End*/
    /*Product Section Start*/
    .uk-position-small {
        margin: 15px;
        margin-top: 0;
    }
    .uk-margin {
        margin-top: 0px!important;
        margin-bottom: 0px;
        visibility: hidden;
    }
    .uk-child-width-1-2>* {
        width: 100%;
    }
    /*Product Section End*/
    /*Prouct Box*/
    .product-box {
        padding: 30px 5px;
        margin-top: 40px;
    }
    .product-box h3 {
        font-size: 16px;
    }
    .product-box p {
        font-size: 16px;
        color: #888;
    }
    .product-row {
        margin-top: 0px;
    }
    /*Product Box*/
    /*Blog Sectioin Start*/
    .blog-text h3 a {
        font-size: 19px;
    }
    .blog-content ul li:last-child a {
        margin-left: 28px;
    }
    /*Blog Sectioin End*/
    /*Footer area*/
    .footer-area {
        padding: 65px 0;
        text-align: center;
    }
    .footer-area ul {
        padding: 0px;
    }
}

@media (min-width:576px) and (max-width:767.98px) {
    section {
        padding: 70px 0;
    }
    .common-heading {
        font-size: 45px;
        margin-bottom: 60px;
    }
    /*Header Section Start*/
    .navbar-and-logo {
        width: 100%;
    }
    .logo img {
        margin-bottom: 0px;
    }
    .menu {
        padding-top: 1rem;
        padding-left: 2rem;
        padding-bottom: 1rem;
        background: #FEF7F6;
        position: absolute !important;
        top: 126%;
        left: 0;
        width: 100%;
        z-index: 999999;
    }
    .search-card-wishlist {
        width: 100%;
    }
    .search-cart-item {
        background: #FEF7F6;
    }
    .search-box {
        right: 0px;
        top: 25px;
    }
    /*Header Section End*/
    /*Banner Section Start*/
    .banner-content {
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .banner-content h1 {
        font-size: 45px;
    }
    .banner-content p {
        font-size: 16px;
        margin-bottom: 8px;
    }
    .shop-now-btn {
        padding: 14px 32px;
    }
    /*Banner Section End*/
    .feature-text {
        margin-top: 20px;
    }
    /*Feature Section End*/
    /*Discount Section Start*/
    .discount-content {
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .discount-content h1 {
        font-size: 52px;
    }
    .discount-content p {
        font-size: 18px;
    }
    /*Discount Section End*/
    /*Product Section Start*/
    .uk-position-small {
        margin: 15px;
        margin-top: 0;
    }
    .uk-margin {
        margin-top: 0px!important;
        margin-bottom: 0px;
        visibility: hidden;
    }
    /*Product Section End*/
    /*Prouct Box*/
    .product-box {
        padding: 30px 5px;
        margin-top: 50px;
    }
    .product-box h3 {
        font-size: 16px;
    }
    .product-box p {
        font-size: 16px;
        color: #888;
    }
    .product-row {
        margin-top: 75px;
    }
    /*Product Box*/
    /*Blog Sectioin Start*/
    .blog-text h3 a {
        font-size: 24px;
    }
    .blog-content ul li:last-child a {
        margin-left: 250px;
    }
    /*Blog Sectioin End*/
}

@media (min-width:768px) and (max-width:991.98px) {
    section {
        padding: 80px 0;
        overflow: hidden;
    }
    .common-heading {
        font-size: 45px;
    }
    /*Header Section Start*/
    .navbar-and-logo {
        width: 83%;
        margin-right: 2%;
    }
    .search-card-wishlist {
        margin-top: 4px;
    }
    .logo img {
        margin-bottom: 0px;
    }
    .menu {
        padding-top: 1rem;
        padding-left: 2rem;
        padding-bottom: 1rem;
        background: #FEF7F6;
        position: absolute !important;
        top: 125%;
        left: 0;
        width: 100%;
        z-index: 999999;
    }
    /*Header Section End*/
    /*Banner Section Start*/
    .banner-content {
        padding-top: 60px;
        padding-bottom: 110px;
    }
    .banner-content h1 {
        font-size: 50px;
    }
    .banner-content p {
        font-size: 18px;
        margin-bottom: 8px;
    }
    /*Banner Section End*/
    /*Discount Section Start*/
    .discount-content {
        padding-top: 60px;
        padding-bottom: 110px;
    }
    /*Discount Section End*/
    /*Product Section Start*/
    .uk-position-small {
        margin: 0px;
    }
    .uk-margin {
        margin-top: 0px!important;
        margin-bottom: 0px;
        visibility: hidden;
    }
    /*Product Section End*/
    /*Prouct Box*/
    .product-box {
        padding: 60px 0px;
        margin-top: 60px;
    }
    /*Product Box*/
    /*Blog Sectioin Start*/
    .blog-text h3 a {
        font-size: 19px;
    }
    .blog-content ul li:last-child {
        margin-top: 3px;
    }
    .blog-content ul li:last-child a {
        margin-left: 0px;
    }
    /*Blog Sectioin End*/
}

@media (min-width:992px) and (max-width:1199.98px) {
    /*Prouct Box*/
    .product-box {
        padding: 30px 5px;
    }
    .product-box h3 {
        font-size: 16px;
    }
    .product-box p {
        font-size: 16px;
        color: #888;
    }
    /*Product Box*/
    /*Blog Sectioin Start*/
    .blog-text h3 a {
        font-size: 20px;
    }
    .blog-content ul li:last-child a {
        margin-left: 28px;
    }
    /*Blog Sectioin End*/
}

@media (min-width:1200px) and (max-width:1399.98px) {
    /*Blog Sectioin Start*/
    .blog-text h3 a {
        font-size: 22px;
    }
    .blog-content ul li:last-child a {
        margin-left: 88px;
    }
    /*Blog Sectioin End*/
}

@media (min-width:320px) and (max-width:575.98px) {}

@media (min-width:1400px) and (max-width:1699.98px) {}

@media (min-width:1700px) and (max-width:1999.98px) {}

@media (min-width:1999.98px) {
    /*Header Section Start*/
    .top-bar-text li {
        font-size: 14px;
    }
    .logo img {
        width: 120px;
    }
    /*Header Section End*/
    /*Banner Section Start*/
    .banner-content p {
        font-size: 24px;
    }
    .banner-content h1 {
        font-size: 60px;
    }
    .shop-now-btn {
        padding: 18px 44px;
    }
    /*Banner Section End*/
}