* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    padding: 100px 0;
    overflow: hidden;
}

.common-heading {
    font-size: 50px;
    color: #000;
    font-weight: 500;
    margin-bottom: 85px;
}

.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    z-index: 999;
}


/*Header Section Start*/

.header-top-bar {
    background: #FEF7F6;
}

.top-bar-text {
    margin-bottom: 0px;
    padding-left: 0px;
}

.top-bar-text li {
    color: #000;
    font-size: 12px;
}

.logo img {
    width: 100px;
    margin-bottom: 10px;
}

.navbar-and-logo {
    width: 85%;
}

nav ul li {
    margin-right: 40px;
}

nav ul li:last-child {
    margin-right: 0px;
}

nav ul li a {
    font-size: 18px;
    font-weight: 500;
    color: #000!important;
    text-decoration: none!important;
}

.nav-link {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.fas.fa-cart-plus {
    transform: scaleX(-1);
}

.search-card-wishlist {
    width: 15%;
}

.search-card-wishlist ul {
    margin-top: 15px;
}

.search-card-wishlist ul li a {
    font-size: 18px;
    font-weight: 500;
    color: #000!important;
}

.search-card-wishlist ul li a span {
    position: absolute;
    width: 22px;
    height: 22px;
    background: #ff5353;
    font-size: 11px;
    line-height: 22px;
    top: -12px;
    right: -13px;
}

.search-box {
    position: absolute;
    right: 0px;
    top: 35px;
    padding: 12px 12px;
    min-width: 250px;
    border-radius: 5px;
    z-index: 9999;
    display: none;
    background: #fff;
}

.search-box input,
.search-box button {
    padding: 4px 5px;
    width: 88%;
    background: #eceff4;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 4px;
}

.search-box button {
    background: transparent;
    width: 10%;
    font-size: 18px;
}


/*Header Section End*/


/*Banner Section Start*/

.banner-area {
    background: url('../images/banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0;
}

.banner-content p {
    font-size: 22px;
    color: #565656;
    font-weight: 500;
    word-spacing: 8px;
    letter-spacing: 4px;
}

.banner-content h1 {
    font-size: 55px;
    color: #000;
    font-weight: 500;
}

.shop-now-btn {
    padding: 16px 40px;
    background: #ff5353;
    text-decoration: none;
    border-radius: 3px;
    transition: 0.5s ease-in-out;
    text-decoration: none!important;
}

.shop-now-btn:hover {
    background: #fff;
    color: #000!important;
}


/*Banner Section End*/


/*Feature Section Start*/

.feature-product {
    position: relative;
    transition: 0.4s ease-in;
}

.feature-text {
    margin-top: 30px;
}

.feature-text a {
    color: #000;
    font-size: 16px;
    transition: 0.3s ease;
}

.feature-text a:hover,
.feature-text a:focus {
    color: #ff5353;
}

.feature-text ul li {
    margin-right: 0px;
}

.feature-text ul li i {
    font-size: 14px;
    color: #FF5353;
}

.feature-text span {
    font-size: 20px;
    color: #000;
    font-weight: 500;
}

.overlay {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    bottom: 120px;
    transition: 0.3s ease-out;
}

.overlay ul li a {
    width: 50px;
    height: 50px;
    background: #fff;
    color: #565656;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
}

.overlay ul li a i {
    font-size: 18px;
    line-height: 48px;
}

.overlay ul li:hover a {
    background: #ff5353;
    color: #fff;
}

.feature-product:hover .overlay {
    visibility: visible;
    bottom: 160px;
    opacity: 1;
}


/*Feature Section End*/


/*Discount Area Start*/

.discount-area {
    background: #EAE2D8;
    padding: 0;
}

.discount-area h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 65px;
    color: #2a2a2a;
}

.discount-area p {
    font-size: 22px;
    word-spacing: 2px;
    letter-spacing: 2px;
}


/*Discount Area End*/


/*Popular Product Section Start*/

.uk-slidenav {
    color: #ff817e;
}

.uk-slidenav:focus,
.uk-slidenav:hover {
    color: #ff817e;
}

polyline {
    stroke-width: 2.5;
}

.uk-margin {
    margin-top: 60px!important;
    margin-bottom: 0px;
}

.uk-dotnav>*>* {
    width: 15px;
    height: 15px;
    background: #ff817e;
    transition: .2s ease-in-out;
}

.uk-dotnav>.uk-active>* {
    background-color: #FF5353;
}

.product-box {
    padding: 50px 0px;
    margin-top: 100px;
    box-shadow: 0px 0px 10px -5px #888;
    transition: 0.4s ease-in-out;
}

.product-box:hover {
    box-shadow: 0px 0px 10px 0px #888;
}

.product-box h3 {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
}

.product-box p {
    font-size: 18px;
    color: #888;
}

.product-row {
    margin-top: 85px;
}

.trendy-area {
    padding-top: 50px;
}


/*Popular Product Section End*/


/*Blog Section Start*/

.blog-text p {
    color: #888;
    font-size: 16px;
    margin-bottom: 10px;
}

.blog-text p::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 4px;
    background: #FF5353;
    border-radius: 4px;
    top: 37%;
    left: -24px;
}

.blog-text h3 {
    line-height: 28px;
}

.blog-text h3 a {
    font-size: 23px;
    color: #000;
    transition: 0.3s ease-in-out;
}

.blog-text h3:hover a {
    color: #ff5353;
}

.blog-content ul li a {
    color: #888!important;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

.blog-content ul li:hover a {
    color: #ff5353!important;
}

.blog-content ul li:last-child a {
    margin-left: 150px;
}


/*Blog Section End*/


/*Follow Section Start*/

.follow-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 82, 82, 0.8);
    left: 0;
    opacity: 0;
    bottom: -30px;
    transition: 0.3s ease-in-out;
}

.follow-overlay span {
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.follow-content:hover .follow-overlay {
    opacity: 1;
    bottom: 0px;
}


/*Follow Section End*/


/*Footer Section start*/

.footer-area {
    padding: 100px 0;
    background: #E9E2D8;
}

.footer-link h3 {
    color: #000;
    font-size: 20px;
    font-weight: 500
}

.footer-link ul li a {
    text-decoration: none;
    color: #888;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

.footer-link ul li:hover a {
    color: #FF5353;
}

.apps-store a {
    display: inline-block;
    width: 160px;
    height: 50px;
    color: #000;
    background: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    transition: 0.4s ease-in-out;
}

.apps-store a i {
    color: #FF5353;
    transition: 0.4s ease-in-out;
}

.apps-store a:first-child:hover {
    color: #fff;
    background: #FF5353;
}

.apps-store a:first-child:hover i {
    color: #fff;
}

.apps-store a:last-child {
    background: #FF5353;
    color: #fff;
}

.apps-store a:last-child i {
    font-size: 19px;
    margin-right: 4px;
    color: #fff;
    transition: 0.4s ease-in-out;
}

.apps-store a:last-child:hover {
    color: #FF5353;
    background: #fff;
}

.apps-store a:last-child:hover i {
    color: #FF5353;
}

.social-link ul li a {
    width: 35px;
    height: 35px;
    background: #ffff;
    color: #000;
    font-size: 18px;
    line-height: 36px;
    transition: 0.4s ease-in-out;
}

.social-link ul li:hover a {
    background: #FF5353;
    color: #fff;
}


/*Footer Section End*/

.scroll-up-btn {
    width: 40px;
    height: 40px;
    background: #FF5353;
    color: #fff;
    display: none;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
    font-size: 22px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    animation: bounceUpDown 1s infinite linear alternate;
}

.scroll-up-btn:hover,
.scroll-up-btn:focus {
    color: #fff;
}

@keyframes bounceUpDown {
    0% {
        transform: translateY(15px);
    }
    50% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0px);
    }
}